name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:  
  build:      
    name: Build & Release 
    runs-on: macos-latest 

    steps:
      #1 Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      #2 Setup Flutter
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.22.2'
          channel: 'stable'

      #3 Install CocoaPods dependencies
      - name: Install Pods
        run: |
          cd ./recur_application/ios
          pod install
          
      #4 Install Flutter dependencies
      - name: Install Dependencies
        run: flutter pub get
        working-directory: ./recur_application

      #5 Build for iOS (without code signing)
      - name: Build iOS
        run: flutter build ios --no-codesign
        working-directory: ./recur_application
