name: Dart

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:  
  build:      
    name: Build & Release 
    runs-on: macos-latest 

    steps:
      #1 Checkout Repository
      - name: Checkout Repository
        uses: actions/checkout@v3

      #2 Setup Flutter
      - name: Set Up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.3'
          channel: 'stable'

      #3 Install Flutter dependencies FIRST
      - name: Install Dependencies
        run: |
          flutter pub get
          flutter precache
        working-directory: ./recur_application

      #4 Install CocoaPods dependencies
      - name: Install Pods
        run: pod install
        working-directory: ./recur_application/ios

      #5 Build for iOS
      - name: Build iOS
        run: flutter build ios --no-codesign
        working-directory: ./recur_application
